<header class="nav-header">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar">
        <div class="left-side">
          <a class="nav-item" href="/">GraiLHLed</a>
          <a class="nav-item" href="/">Filters</a>
        </div>
        <div class="right-side">
          <a class="nav-item" href="/favourites">Favourites</a>
          <a class="nav-item" href="/listings">Listings</a>
          <a class="nav-item" href="/login">Login</a>
          <a class="nav-item" href="/register">Register</a>
      </div>
      </div>
    </div>
  </nav>

</header>

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/nav-header.css" type="text/css" />

