<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Listing</title>

  </head>
  
  <%- include('partials/header') %>

  <body>
    <h1 style="padding-top: 130px; display: flex; justify-content: center;">Create Listing</h1>
    <div class="post-ad-page">
    <div id="create-listing-form">
      <form method="POST" action="/createlisting">
        <label>Title:</label>
        <input type="text" name="name" id="nav-input" style="width: 350px;"></input>
        <label>Price:</label>
        <input type="number" name="price" id="nav-input" style="width: 350px"></input>
        <label>Description:</label>
        <input type="text" name="description" id="nav-input" style="width: 290px;"></input>
        <label>Image URL:</label>
        <input type="text" name="image" id="nav-input"></input>
        <button type="submit" value="submit" id="create-listing-submit">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>
