<!DOCTYPE html>
<html lang="en">

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/feed.css" type="text/css" />

<head>
  <title>Home Page</title>
</head>

<%- include('partials/header') %>

<body>
  <div class='product-header'>
    <h1>Featured Listings</h1>
  </div>

  <div class='display-products'>

      <% for (let key of product) { %>

      <a class="product" href="/products/<%= key.id %>"><img src="<%= key.image_url %>"></a>

      <% } %>

      <a class="product" href="/products"><img src="https://i.pinimg.com/originals/b3/35/fb/b335fb19aee071b7e32809c4466e7d4f.jpg"></a>

      <a class="product" href="/products"><img src="https://media.istockphoto.com/photos/fashion-white-sneakers-in-neon-light-sport-shoes-for-training-in-the-picture-id1301394040?b=1&k=20&m=1301394040&s=170667a&w=0&h=DM2FyLVbwZ-YjZeb5P8d45RgF2x_gTmT8kC66u7zIrk="></a>

      <a class="product" href="/products"><img src="https://images.squarespace-cdn.com/content/v1/53a2b3a1e4b0a5020bebe676/1475654193100-3P0KPI6P5T2AZCGARTSN/shoe-footwear-product-photography-london-adidas-ultra-boost-21.jpg?format=2500w"></a>

      <a class="product" href="/products"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHWKxGSZz7091voKeOJlDdH4_cluWjPBfq-Q&usqp=CAU"></a>

      <a class="product" href="/products"><img src="https://cdn.colorexpertsbd.com/wp-content/uploads/2020/09/pair-of-multicolored-low-top-sneakers-1580267-min.jpg"></a>

  </div>
</body>

</html>


