<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>


</head>

<%- include('partials/header') %>

<body>
  <div class='home-header'>
    <h1>Featured Listings</h1>
  </div>

<div class='display-products'>
  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/0DEC1E10B6E048F59DFB97BF380B8F48.webp"></a>

  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/636384DBAC15448BB2CBF4A614BECA47.webp"></a>

  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/83FE73E7B3144927BD7FCF613ED2EAE1.webp"></a>

  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/9337E5D4F7414D6AB95B4C38413551D0.webp"></a>

  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/9EA98549644D4C55BE3BE6CAB01753C4.webp"></a>

  <a class="product" href="/products"><img src="https://raw.githubusercontent.com/renji-3/LightGrailed/master/ProductShots/AFC5A268DD8E493784254E9A9D7190B2.webp"></a>

</div>
</body>

</html>

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />

