<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>


</head>

<%- include('partials/header') %>

<body>
<div class='display-products'>
  <a class="product" href="/products"><img src="<%= product.image_url %>"></a>
</div>
</body>

</html>

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />

