<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="/styles/listing-created.css" type="text/css" />

  <head>
    <title>Create Listing</title>

  </head>

  <%- include('partials/header') %>

  <body>

    <div class="page-content">
      <h1>Listing Successfully Created!</h1>
      <h2>Your listing is now visible, view all listings by clicking below</h2>

      <div class="redirect">
        <form method="GET" action="/">
          <div>
          <button type="submit" class="back-to-home">Visit Featured Items</button>
          </div>
    </div>

  </body>

