<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="/styles/listing-created.css" type="text/css" />

  <head>
    <title>Create Listing</title>

  </head>

  <%- include('partials/header') %>

  <h1>nice !</h1>
