<!DOCTYPE html>
<html lang="en">
<head>
  <!--META-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <title>Login</title>
</head>

<%- include('partials/header') %>
<body>

  <div class ="container">
    <form id ="login" method="POST" action="/login">
      <div class="header">
        <h3 class="login-user">Login</h3>
          <p>Forms are case sensitive</p>
      </div>
      <hr>
      <div class="inputs">
        <input type="username" placeholder="Username" name="username" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <div class="check-box">
          <input name="checky" id="checkboxy" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
        </div>
        <button type="submit" id="submits">Login In</button>
      </div>
      <p class="login">Need to Create An Account? <a href="/register">Register</a>.</p>

      </div>
    </form>
  </div>

</body>
</html>
