<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <h1>Messages</h1>
    <div class="messages-box">
      <div id="messages">
        <div id="buy-messages">
          <h1>Buy Messages</h1>
          <% for (let buy_message of buyMessages) { %>
            <a href="/messagethreads/<%=buy_message.id%>">
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>