<!DOCTYPE html>
<html lang="en">
<head>
  <!--META-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--External CSS-->

  <!--APP CSS-->
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <title>Registration</title>
</head>

<%- include('partials/header') %>
<body class="bg">

  <div class ="container">
    <form id ="register" method="POST" action="/register">
      <div class="header">
        <h3 class="register-user">Register</h3>
          <p>Forms are case sensitive</p>
      </div>
      
      <hr>

      <div class="inputs">
        <input type="username" placeholder="Username" name="username" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <div class="check-box">
          <input name="checky" id="checkboxy" value="1" type="checkbox" /><label class="terms">I accept the terms of use</label>
        </div>
        <button type="submit" id="submits">REGISTER NOW</button>
      </div>
      <p class="login">Already Have an Account? <a href="/login">Log In</a>.</p>

      </div>
    </form>
  </div>

</body>
</html>
