.page-name {
  display: flex;
  justify-content: center;
}

.fav-listing {
  display: flex;
  width: 60%;
  height: 200px;
  padding: 15px;
  border: 2px solid rgb(169, 163, 163);
  margin-bottom: 20px;
  margin-left: 17%;
  text-decoration: none;
}

.msg-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding-left: 50px;
}

.descriptions {
  font-size: 22px;
}

.product-link {
  text-decoration: none;
}

img {
  object-fit: cover;
  float: left;
  width: 15rem;
  height: 10rem
}

body{
margin: 0px;
}
