.page-name {
  display: flex;
  justify-content: center;
}

.fav-listing {
  display: flex;
  justify-self: center;
  width: 50%;
  height: 16rem;
  padding: 15px;
  border: 2px solid rgb(169, 163, 163);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
}

.msg-container {
  display: flex;
  flex-direction: column;
  word-wrap: wrap;
  padding-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.msg-container > h2, p {
  margin-bottom: 5px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  max-width: 100%;
  max-height: 10%;
}

.descriptions {
  font-size: 22px;
  max-width: 100%;
  max-height: 10%;
  text-align: center;
}

.product-link {
  text-decoration: none;
}

img {
  object-fit: cover;
  float: left;
  width: 15rem;
  height: 15rem;
  margin-top: auto;
  margin-bottom: auto;
}

body{
margin: 0px;
}

.trashproduct {
  display: flex;
  justify-self: flex-end;
  width: 0px;
  float: right;
  font-size: 25px;
  padding-right: 26px;
}

.icons:hover {
  color: rgb(20, 26, 184);
}
