.page-name {
  display: flex;
  justify-content: center;
}

.fav-listing {
  display: block;
  width: 80%;
  height: 200px;
  padding: 15px;
  border: 2px solid rgb(169, 163, 163);
  margin: auto;
  text-decoration: none;
}

.msg-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding-left: 50px;
}

.descriptions {
  font-size: 22px;
}

img {
  float: left;
  width: 15rem;
}

body{
margin: 0px;
}
