img {
  margin: 10px;
  width: 400px;
  height: 365px;
}

.display-products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-header{
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
 }
