body {
  margin: 0px;
 }

 img {
  object-fit: cover;
  margin: 10px;
  width: 400px;
  height: 500px;
  transition: box-shadow .3s;
  transition: transform .3s;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px;
}

.page-title {
  display: flex;
  justify-content: center;
}

.filtered-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


