img {
  margin: 10px;
  width: 200px;
  height: 200px;
}

.display-products{
  display: flex;
  justify-content: center;
}

.home-header{
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
 }
