.page-title {
  display: flex;
  justify-content: center;
}

.message-preview {
  display: block;
  width: 80%;
  height: 300px;
  padding: 15px;
  border: 2px solid rgb(169, 163, 163);
  margin: auto;
  text-decoration: none;
}

.preview-block {
  text-decoration: none;
}

.msg-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding-left: 50px;
}

.descriptions {
  font-size: 22px;
}

img {
  float: left;
  width: 15rem;
}

body {
  margin: 0px;
}

.trashproduct {
  float: right;
  font-size: 25px;
  padding-right: 26px;
}

.icons i:hover {
  color: rgb(20, 26, 184);
}
