header{
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 25px;
  padding: 3em;
  margin: 0px;
  background-color: #9eb8eb;
}

.nav-item {
  display: flex;
  margin-right: 40px;
  justify-content: space-evenly;
}

.left-side{
  display: flex;
}

.right-side {
  display: flex;
}
