header{
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  height: 25px;
  padding: 3em;
  margin: 0px;
  background-color: #9eb8eb;
}

.price-filt{
  display: flex;
  margin-right: 20px;
  justify-content: space-evenly;
}

#prices{
  margin-left: -30px;
}

#filt-button{
  display: flex;
  margin-left: 0px;
}

.nav-item {
  display: flex;
  margin-right: 40px;
  justify-content: space-evenly;
}

.left-side{
  display: flex;
  align-items: baseline;
}

.right-side {
  display: flex;
  align-items: baseline;
}
