body {
  margin: 0px;
 }

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.product-img {
  display: flex;
  object-fit: cover;
  margin: 10px;
  width: 500px;
  height: 600px;
  margin-right: -20px;
}

#opac-img {
  opacity: 0.35;
}

.right-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  padding-left: 100px;
  word-wrap: wrap;
}

.right-container > h2, p, h3 {
  margin: 10px;
}

.mark-sold {
  display: flex;
  align-self: center;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-family: "Courier New", serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(0deg, #ca4540, #fa8671);
  border-radius: 5px;
  border: 1px solid #737b8d;
  box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  text-shadow:
      0px 1px 3px rgba(000,000,000,0.3),
      0px 0px 0px rgba(255,255,255,0);
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.mark-sold:hover {
  background: linear-gradient(0deg, #e06c35, #f59f6d);
  cursor: pointer;
}

h2 {
  font-size: 30px;
}

.descriptions {
  font-size: 22px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.icons{
  color: black;
  font-size: 35px;
}

.icons > i:hover {
  color: red;
  cursor: pointer;
}

.text-message {
  resize: none;
  width: 80%;
  height: 200px;
  margin-top: 20px;
  text-align: center;
}

.message-btn {
  display: flex;
  align-self: center;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-family: "Courier New", serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(0deg, #363637, #67686a);
  border-radius: 5px;
  border: 1px solid #737b8d;
  box-shadow:
      0px 5px 5px rgba(000,000,000,0.1),
      inset 0px 1px 0px rgba(255,255,255,0.5);
  text-shadow:
      0px 1px 3px rgba(000,000,000,0.3),
      0px 0px 0px rgba(255,255,255,0);
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.message-btn:hover {
  background: linear-gradient(0deg, #6e6e6f, #bbbbbb);
  cursor: pointer;
}

